
h2{
	font-size: 30px;
	text-align: center;
}

form{
	width: 25%;
	border: 1px solid #ccc;
	margin: 50px 465px;
	padding: 20px;
}


label{
	font-size: 12px;
	/*Los labels son etiquetas en linea*/
	display: block;
	/*la etique abarca el 100% y el input no
	le quede espacio entonces se tiene
	que correr hacia abajo.*/
	width: 100%;

}

input {
	/*para que se separen los items*/
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	/*con esto no se cuenta el padding
	y el elemento si tiene el 100%*/
	box-sizing: border-box;
	border: 1px solid #ccc;
}

/*focus no es una propiedad es un pseudo-selector*/
/*con esto se detecta cuando el usuario este selecionando
un input*/
input:focus, textarea:focus{
	border: 1.3px solid #1668C4;
}

/*seleccion avanzada*/
input[type="submit"]{
	/*esto deja el borde de abajo del mismo padding
	que los demas*/
	margin-bottom: 0px;
	background: #1668C4;
	color: #fff;
	border: none;
}

/*selector mas avanzado*/
input[type="submit"]:hover{
background: #4A88F4;
/*con esto aparece la manito como si hubiera un link*/
cursor: pointer;
}

.tab{
	border: 1px solid #1746A8;
    padding:20px;

}

td{
	color: black;
}